@font-face {
    font-family: Poppins;
    src: url(assets/Poppins.ttf);
}

.header {
    overflow: hidden;
    padding: 10px 10px;
    background-color: #31b39a;
    font-family: 'Poppins';
}

/* Style the header links */
.header a {
    display: 'inline-block';
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    vertical-align: baseline;
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 5px;
}

.header a.login {
    display: 'inline-block';
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    vertical-align: baseline;
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border: solid 0.5px #707070;
    border-radius: 30px;
    border-color: white;
    border-width: 2px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 20px;
    margin-left: 50px;
}
  
/* Change the background color on mouse-over */
.header a:hover {
    background-color: #134e42;
    cursor: pointer;
}
  
/* Style the active/current link*/
.header a.active {
    background-color: #134e42;
    color: white;
}
  
/* Float the link section to the right */
.header-right {
    float: right;
}
  
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .header-right {
        float: none;
    }
}

.upper-section {
    padding-bottom: 20px;
    max-height: 600px;
}

.section {
    position: absolute; 
    top: 150px; 
    left: 0; 
    width: 100%; 
}

.homepage-img {
    width: 100%;
    height: 600px;
}

.homepage-text {
    box-sizing: border-box;
    display: block;
    float: none;
    z-index: auto;
    font-family: 'Poppins';
    left: 5%;
    width: 750px;
    font-size: 50px;
    margin-left: 70px;
}

.homepage-explain-text {
    box-sizing: border-box;
    display: block;
    float: none;
    z-index: auto;
    font-family: 'Poppins';
    left: 5%;
    width: 500px;
    font-size: 21px;
    margin-left: 70px;
    color: #a0a0a0;
}

.homepage-button {
    box-sizing: border-box;
    display: block;
    float: none;
    position: absolute;
    z-index: auto;
    font-family: 'Poppins';
    left: 5%;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #16a085;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    border-color: #31b39a;
    border-width: 2px;
    border: solid 2px;
    cursor: pointer;
}

.mid-section-left {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.mid-section-right {
    display: inline-block;
}

.smartphone-img {
    vertical-align: middle;
    max-height: 600px;
}

.homepage-img {
    width: 100%;
    height: 600px;
    opacity: 0.8;
}

.footer-section {
    border: solid 0.5px #707070;
    background-color: #333333;
    padding: 20px;
}

.footer {
    font-family: 'Poppins';
    color: white;
    text-align: center;
}

.section4 {
    border: solid 0.5px;
    background-color: #16a085;
    text-align: center;
    padding: 20px;
    display: block;
}

.section4-text {
    font-family: 'Poppins';
    vertical-align: top;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.download-button {
    display: 'inline-block';
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #16a085;
    background-color: white;
    padding: 12px;
    border: none;
    width: 300px;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
}

.button-icon {
    vertical-align: middle;
}

.login-form {
    width: 100%;
}

.login-form div {
    position: relative;
    display: inline-block;
    max-width: 50%;
    vertical-align: middle;
}

.login-form img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.login-form h1, p {
    font-family: 'Poppins';
}

.login-form h1 {
    color: black;
    font-size: 50px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    color: #000000;
    margin-left: 20%;
}

.login-form p {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #aeaeae;
    margin-left: 20%;
}

.login-form-group {
    width: 100%;
    margin-left: 20%;
}

.login-form-group input, button {
    font-family: 'Poppins';
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    border: solid 1px #ffffff;
    border-radius: 15.5px;
    background-color: #f4f4f4;
    margin-bottom: 10px;
}

.login-form-group button {
    cursor: pointer;
}

.header-img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

.profile-title-section {
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 0px;
}

.profile-subtitle-section {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.profile-data-name {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #aeaeae;
}

.profile-data {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.profile-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50px;
    border: solid 1.5px #707070;
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile-data input {
    font-family: 'Poppins';
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    border: solid 1px #ffffff;
    border-radius: 15.5px;
    background-color: #f4f4f4;
}

.side-bar {
    background-color: #333333;
    margin-top: 35px;
    margin-bottom: 30px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    border: solid 1px;
    width: 50%;
}

.side-bar div {
    font-family: 'Poppins';
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    color: #ffffff;
}

.side-bar a {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}

.side-bar-img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-left: 10%;
    margin-right: 10%;
    vertical-align: middle;
}

.list-header {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.user-combobox {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #000000;
    text-decoration: none;
}

.user-combobox-option {
    font-family: 'Poppins';
    font-size: 15px;
    color: #ffffff;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
  
.modal-main {
    position: fixed;
    background: white;
    width: 700px;
    height: 500px;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%,-50%);
    border: none;
    border-radius: 15px;
}
  
.display-block {
    display: block;
}
  
.display-none {
    display: none;
}

.modal-button {
    font-family: 'Poppins';
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 22px;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.text-description {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #aeaeae;
    border: none;
}