@font-face {
    font-family: Poppins;
    src: url(assets/Poppins.ttf);
}

.nav-bar {
    background-color: #31b39a;
    font-family: 'Poppins';
}

.nav-bar a {
    color: white !important;
    margin-right: 5px;
    border-radius: 4px;
}

.nav-brand {
    margin-left: 50px;
    background-color: #31b39a;
    font-family: 'Poppins';
}

.nav-link-login {
    border: solid 0.5px;
    border-radius: 30px !important;
    border-color: white;
    border-width: 2px;
}

/* Change the background color on mouse-over */
.ml-auto a:hover {
    background-color: #134e42;
    cursor: pointer;
}

.upper-section {
    width: 100%;
    position: relative;
    display: inline-block;
    height: auto;
    padding-bottom: 20px;
}

.mid-section-left {
    left: 10%;
    vertical-align: top;
    width: 90%;
    position: relative;
}

.mid-section-right {
    text-align: center;
    width: 100%;
    position: relative;
}

.section-content {
    left: 5%;
    top: 25%;
    position: absolute;
}

.section-content-middle {
    left: 10%;
}

.homepage-img {
    width: 100%;
    height: 600px;
    display: block;
}

.homepage-text {
    font-family: 'Poppins';
    font-size: 50px;
}

.homepage-button {
    display: block;
    position: absolute;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #16a085 !important;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    border-color: #31b39a !important;
    border-width: 2px;
    border: solid 2px;
    cursor: pointer;
    text-decoration: none !important;
}

.frame {
    vertical-align: middle;
}

.homepage-explain-text {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #a0a0a0;
    width: 400px;
}

@media (min-width: 1000px) {
    .mid-section-left {
        left: 0%;
        vertical-align: top;
        width: 50%;
        position: relative;
        display: inline-block;
    }
    
    .mid-section-right {
        text-align: center;
        width: 50%;
        position: relative;
        display: inline-block;
        height: 600px;
    }

    .section-content-middle {
        left: 10%;
        top: 25%;
        position: absolute;
    }
}

@media (max-width: 600px) {
    .homepage-text {
      font-size: 30px;
    }

    .homepage-button {
        font-size: 12px;
    }

    .homepage-img {
        height: 350px;
    }

    .section-content {
        top: 20%;
    }

    .homepage-explain-text {
        font-size: 14px;
        width: 300px;
    }
}

.smartphone-img {
    vertical-align: middle;
    max-height: 600px;
}

.footer-section {
    border: solid 0.5px #707070;
    background-color: #333333;
    padding: 20px;
}

.footer {
    font-family: 'Poppins';
    color: white;
    text-align: center;
}

.section4 {
    border: solid 0.5px;
    background-color: #16a085;
    text-align: center;
    padding: 20px;
    display: block;
}

.section4-text {
    font-family: 'Poppins';
    vertical-align: top;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.download-button {
    display: 'inline-block';
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #16a085;
    background-color: white;
    padding: 12px;
    border: none;
    width: 300px;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
}

.button-icon {
    vertical-align: middle;
}

.login-form {
    width: 100%;
}

.login-form-left {
    position: relative;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.login-form-right {
    left: 5%;
    position: relative;
    display: inline-block;
    width: 45%;
    vertical-align: middle;
}

.login-form img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.login-form h1, p {
    font-family: 'Poppins';
}

.login-form h1 {
    color: black;
    font-size: 50px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    color: #000000;
}

.login-form p {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    width: 75%;
    color: #aeaeae;
}

.login-form-group {
    width: 100%;
    margin-bottom: 10px;
}

.login-form-group input, button {
    font-family: 'Poppins';
    font-size: 20px;
    padding: 5px;
    border: solid 1px #ffffff;
    border-radius: 15.5px;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    max-width: 75%;
}

.login-form-group button {
    cursor: pointer;
}

.div-warning {
    color: 'red';
    width: '100%';
    border-radius: 8px;
    border: solid 1px #f5c6cb;
    background-color: #f8d7da;
    width: 70%;
    padding: 5px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #7a272f;
}

@media (max-width: 700px) {
    .login-form-left {
        display: none;
    }

    .login-form-right {
        left: 5%;
        width: 95%;
    }

    .login-form h1 {
        font-size: 40px;
    }

    .login-form p {
        font-size: 16px;
    }

    .login-form-group input, button {
        font-size: 16px;
    }
}

.header-img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

.profile-title-section {
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 0px;
}

.profile-subtitle-section {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.profile-data-name {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #aeaeae;
}

.profile-data {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.profile-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50px;
    border: solid 1.5px #707070;
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile-data input {
    font-family: 'Poppins';
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    border: solid 1px #ffffff;
    border-radius: 15.5px;
    background-color: #f4f4f4;
    width: 95%;
}

.side-bar {
    background-color: #333333;
    margin-top: 35px;
    margin-bottom: 30px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    border: solid 1px;
    width: 50%;
}

.side-bar div {
    font-family: 'Poppins';
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    color: #ffffff;
}

.side-bar a {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}

.side-bar-img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-left: 10%;
    margin-right: 10%;
    vertical-align: middle;
}

@media (max-width: 1500px) {
    .side-bar {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .side-bar-img {
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media (max-width: 1250px) {
    .side-bar {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .side-bar-img {
        margin-left: 6%;
        margin-right: 6%;
    }
}

@media (max-width: 1000px) {
    .side-bar {
        width: 75%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .side-bar-img {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 800px) {
    .side-bar {
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .side-bar-img {
        margin-left: 4%;
        margin-right: 4%;
    }
}

.list-header {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.user-combobox {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #000000;
    text-decoration: none;
}

.user-combobox-option {
    font-family: 'Poppins';
    font-size: 15px;
    color: #ffffff;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
  
.modal-main {
    position: fixed;
    background: white;
    width: 700px;
    height: 500px;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%,-50%);
    border: none;
    border-radius: 15px;
}
  
.display-block {
    display: block;
}
  
.display-none {
    display: none;
}

.modal-button {
    font-family: 'Poppins';
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 22px;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.text-description {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #aeaeae;
    border: none;
}